.pillars {
  position: relative;
  z-index: 1;
  padding: 0 48px 20vh;
  background: var(--background);
}

@media (max-width: 1023px) {
  .pillars {
    padding: 0 32px 12vh;
  }
}

@media (max-width: 767px) {
  .pillars {
    padding: 0 16px 10vh;
  }
}
